<div class="container" style="min-height: 73vh">
  <div class="row pt-5 pb-5">
    <div class="col-md-3"><app-sidebar-offer></app-sidebar-offer></div>
    <div class="col-md-8">
      <h2 i18n>Obudowy stacji - specjalne</h2>
      <br>
      <p class="text-justify" i18n>
        Wychodząc naprzeciw potrzebom klienta oferujemy nietypowe rozwiązania obudów stacji transformatorowych.
        Należą do nich obudowy stacji podziemnych, wieżowych okrągłych typu słup reklamowy, a nawet stacje piętrowe.
        <br>
        <br>
        Rozwiązania nietypowe stanowią dla nas wyzwanie i każdorazowo staramy się sprostać wymaganiom zamawiającego.
      </p>
      <div class="row pt-5">
        <div class="col-md-4 mb-3" *ngFor="let album of albums; let i = index">
          <img [src]="album.thumb" class="img-fluid mx-auto d-block" (click)="open(i)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
