<div class="container" style="min-height: 73vh">
  <div class="row pt-5 pb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Obudowy stacji - specjane</h2>
      <br>
      <p class="text-justify">
        Wychodząc naprzeciw potrzebom klienta oferujemy również nietypowe rozwiązania obudów stacji transformatorowych.
        Należą do nich obudowy stacji podziemnych, wieżowych okrągłych typu słup reklamowy, a nawet stacje piętrowe.
        <br>
        <br>
        Rozwiązania nietypowe stanowią dla nas wyzwanie i każdorazowo staramy się sprostać wymaganiom zamawiającego.
      </p>
      <div class="row pt-5">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" (click)="open(2)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
