<div class="container">
  <div class="row pt-3">
    <div class="col-md-3"><app-sidebar-offer></app-sidebar-offer></div>
    <div class="col-md-8">
      <h2 i18n>Transformatory</h2>
      <br>
      <p class="text-justify" i18n>
        Oferujemy Państwu możliwość zakupu transformatorów olejowych i
        żywicznych. Na Państwa życzenie transformatory dostarczamy osobno, wraz
        z obudową stacji z wykonanymi podłączeniami lub bez.
        <br><br>
        Dobór właściwego transformatora ma duży wpływ na późniejszą eksploatację
        obiektu. Nie bez znaczenia również pozostaje również jakość
        transformatorów oraz materiałów z których zostały wykonane.
        <br><br>
        Wpływa to bezpośrednio na koszty użytkowania, serwisowania oraz ochronę
        środowiska. Dlatego oferowane przez nas transformatory pochodzą od
        renomowanych producentów tych urządzeń.
        <br><br>
        W swojej ofercie posiadamy również transformatory po wykonanej regeneracji.
        <br><br>
        Decydując się na skorzystanie z naszej oferty otrzymujecie Państwo
        gwarancje szybkiej dostawy urządzenia oraz konkurencyjną cenę.
      </p>
      <div class="row pt-2 pb-2 align-content-center">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" (click)="open(2)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
