<div class="container" *ngIf="router.url == '/pl/offer/housing'">
  <div class="row pt-3">
    <div class="col-md-3"><app-sidebar-offer></app-sidebar-offer></div>
    <div class="col-md-8">
      <h2 i18n>Obudowy stacji transformatorowych</h2>
      <br>
      <p class="text-justify" i18n>
        Wykonujemy żelbetowe obudowy stacji transformatorowych. Obudowy wykonane są według indywidualnych potrzeb zamawiającego.
        Prowadzimy doradztwo począwszy od koncepcji przez projekt do realizacji.
        Obudowy spełniają wszystkie wymagania norm w zakresie przydatności do stosowania w energetyce, bezpieczeństwa oraz ochrony środowiska.
        Stosujemy rozwiązania czołowych producentów aparatury przesyłowo rozdzielczej.
        Istnieje również możliwość wykonania kompletacji obudowy w urządzenia i dostawy kompletnej stacji transformatorowej na miejsce przeznaczenia.
        Obudowy wykonywane są głównie w dwóch typach zastosowania plus obudowy specjalne:
        <br><br>
        - obudowy z obsługą zewnętrzną typu
        <a style="cursor: pointer; color: blue; text-decoration: underline" routerLink="outside"> ARMES-Z</a>
        <br>
        - obudowy z obsługą wewnętrzną typu
        <a style="cursor: pointer; color: blue; text-decoration: underline" routerLink="inside"> ARMES-W</a>
        <br>
        - obudowy specjalne
        <a style="cursor: pointer; color: blue; text-decoration: underline" routerLink="special"> ARMES-S</a>
        <br><br>
        Na specjalne zamówienia projektujemy i wykonujemy obudowy ze ścianami oddzielenia p.poż. jak również obudowy stacji podziemnych, wieżowych, słupowych oraz stacji piętrowych.
      </p>
      <div class="row">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" routerLink="inside" style="cursor: pointer">
          <p class="text-center"><a style="cursor: pointer; color: blue; text-decoration: underline" routerLink="inside"> ARMES-W</a></p>
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" routerLink="outside" style="cursor: pointer">
          <p class="text-center"><a style="cursor: pointer; color: blue; text-decoration: underline" routerLink="outside"> ARMES-Z</a></p>
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" routerLink="special" style="cursor: pointer">
          <p class="text-center"><a style="cursor: pointer; color: blue; text-decoration: underline" routerLink="special"> ARMES-S</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>



