.sidebarservices {
  width: 100%;
  float: left;
}
.sidebarservices .head {
  text-align:center;
  font-size:15pt;
  background:gray;
  color:white;
}
.head:hover {
  background:gray !important;
  cursor: initial;
}
.sidebarservices li {
  list-style:none;
  background-image: linear-gradient(to top left, rgba(8,112,173,0.92), rgb(63,71,204));
  margin:5px 10px;
  text-align:left;
  padding: 10px 0 10px 20px;
  border-radius:5px 5px;
  cursor:pointer;
}
.sidebarservices li a {
  text-decoration:none;
  color:white !important;
  font-family: Century Gothic, sans-serif;
}
.sidebarservices li:hover {
  background:black;
  color:black;
}
