<section>
  <div class="container">
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-file-signature" style="padding-left: 10px"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Ponad
              <span> 10 lat doświadczenia</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Długoletnia działalność na polskim i zagranicznym rynku jest naszym dużym atutem.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-chalkboard-teacher"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Bezproblemowy <span>kontakt</span></h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Każdy klient jest traktowany indywidualnie, staramy się sprostać każdym wymaganiom.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-truck-moving"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Transport <span>towarów</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Zapewniamy trasport towarów (w tym wielkogabarytowych) wprost do klienta.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-truck-loading"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Wsparcie <span>techniczne</span></h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Po dostarczeniu zapewniamy pełne wsparcie w procesie instalacji naszych produktów.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
