<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Nasze realizacje</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Jessennik</h4>
                    <p class="card-text">Budowa Kaufland Jesenik</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jessennik</h4>
                  <p class="card-text-back">Transport stacji do Jessenika przebiegł bez najmniejszych problemów. Suchanek był bardzo zadowolny z inwestycji dlatego Emontas zamówił kolejną stację.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Jessennik</h4>
                    <p class="card-text">Budowa Kaufland Jesenik</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jessennik</h4>
                  <p class="card-text-back">Transport stacji do Jessenika przebiegł bez najmniejszych problemów. Suchanek był bardzo zadowolny z inwestycji dlatego Emontas zamówił kolejną stację.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Jessennik</h4>
                    <p class="card-text">Budowa Kaufland Jesenik</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jessennik</h4>
                  <p class="card-text-back">Transport stacji do Jessenika przebiegł bez najmniejszych problemów. Suchanek był bardzo zadowolny z inwestycji dlatego Emontas zamówił kolejną stację.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Jessennik</h4>
                    <p class="card-text">Budowa Kaufland Jesenik</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jessennik</h4>
                  <p class="card-text-back">Transport stacji do Jessenika przebiegł bez najmniejszych problemów. Suchanek był bardzo zadowolny z inwestycji dlatego Emontas zamówił kolejną stację.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Jessennik</h4>
                    <p class="card-text">Budowa Kaufland Jesenik</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jessennik</h4>
                  <p class="card-text-back">Transport stacji do Jessenika przebiegł bez najmniejszych problemów. Suchanek był bardzo zadowolny z inwestycji dlatego Emontas zamówił kolejną stację.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Jessennik</h4>
                    <p class="card-text">Budowa Kaufland Jesenik</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jessennik</h4>
                  <p class="card-text-back">Transport stacji do Jessenika przebiegł bez najmniejszych problemów. Suchanek był bardzo zadowolny z inwestycji dlatego Emontas zamówił kolejną stację.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
