<section id="team" class="pb-5">
  <div class="container">
    <h2 class="section-title h1">Nasze realizacje</h2>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/1.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Bohuniovice</h4>
                    <p class="card-text">Budowa Bohuniovice</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Bohuniovice</h4>
                  <p class="card-text-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic minima, nostrum quis quos velit! A adipisci cupiditate dolor dolorum ea eius eos eum ipsa ipsum quam, quia recusandae vitae.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/2.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Zivitice</h4>
                    <p class="card-text">Budowa Zivitice</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Zivitice</h4>
                  <p class="card-text-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic minima, nostrum quis quos velit! A adipisci cupiditate dolor dolorum ea eius eos eum ipsa ipsum quam, quia recusandae vitae.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/3.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Ceska Trebova</h4>
                    <p class="card-text">Budowa Ceska Trebova</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Ceska Trebova</h4>
                  <p class="card-text-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic minima, nostrum quis quos velit! A adipisci cupiditate dolor dolorum ea eius eos eum ipsa ipsum quam, quia recusandae vitae.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/4.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Goglolin</h4>
                    <p class="card-text">Budowa Goglolin</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Goglolin</h4>
                  <p class="card-text-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic minima, nostrum quis quos velit! A adipisci cupiditate dolor dolorum ea eius eos eum ipsa ipsum quam, quia recusandae vitae.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/5.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Ostrava</h4>
                    <p class="card-text">Budowa Ostrava CH Futurum</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Ostrava CH Futurum</h4>
                  <p class="card-text-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic minima, nostrum quis quos velit! A adipisci cupiditate dolor dolorum ea eius eos eum ipsa ipsum quam, quia recusandae vitae.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center" style="background-image: url('../../../assets/images/production/6.jpg');">
                  <div class="pb-3 fronttext">
                    <h4 class="card-title">Prerov</h4>
                    <p class="card-text">Budowa Visimpex Prerov</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Visimpex Prerov</h4>
                  <p class="card-text-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic minima, nostrum quis quos velit! A adipisci cupiditate dolor dolorum ea eius eos eum ipsa ipsum quam, quia recusandae vitae.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
