<router-outlet *ngIf="router.url !== '/'"></router-outlet>
<section class="our-webcoderskull padding-lg" *ngIf="router.url == '/cz/offer' || router.url == '/cz/home'">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>NABÍDKA</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;" routerLink="./../offer/housing">
          <figure><img src="../../../assets/images/offer/offer1.webp" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n >Skelety pro stanice</a></h3>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;" routerLink="./../offer/transformer">
          <figure><img src="../../../assets/images/offer/offer2.webp" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n>Transformátory</a></h3>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px;  cursor: pointer;" routerLink="./../offer/switchgear">
          <figure><img src="../../../assets/images/offer/offer4.webp" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n>Rozvaděče (VN a NN)</a></h3>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;" routerLink="./../offer/feedthrough">
          <figure><img src="../../../assets/images/offer/offer3.webp" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n>Systém HAUFF-TECHNIK</a></h3>
        </div>
      </li>
    </ul>
  </div>
</section>
