<router-outlet *ngIf="router.url !== '/'"></router-outlet>
<section class="our-webcoderskull padding-lg" *ngIf="router.url == '/en/offer' || router.url == '/en/home'">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>OFFER</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;" routerLink="./../offer/housing">
          <figure><img src="../../../assets/images/offer/offer1.jpg" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n >Transformer stations containers</a></h3>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;" routerLink="./../offer/transformer">
          <figure><img src="../../../assets/images/offer/offer2.jpg" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n>Transformers</a></h3>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px;  cursor: pointer;" routerLink="./../offer/switchgear">
          <figure><img src="../../../assets/images/offer/offer4.jpg" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n>Switchgears <br>(VN and NN)</a></h3>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;" routerLink="./../offer/feedthrough">
          <figure><img src="../../../assets/images/offer/offer3.jpg" class="img-responsive" alt=""></figure>
          <h3 class="mt-4"><a style="cursor: pointer" i18n>Hauff-Technik sealing</a></h3>
        </div>
      </li>
    </ul>
  </div>
</section>
