<section style=" min-height: 75vh; background-color: #f1f4fa;">
  <div class="container" style="padding-top: 40px;">

    <div class="row">
      <div class="col-md-4">
        <ul class="sidebarservices">
          <li class="head">List of Services</li>
          <li><a href="#">Networking Services</a></li>
          <li><a href="#">Troubleshooting Services</a></li>
          <li><a href="#">Internet Services</a></li>
          <li><a href="#">Server Services</a></li>
          <li><a href="#">Menu Item</a></li>
          <li><a href="#">PC & Printer Repair Services</a></li>
          <li><a href="#">And more...</a></li>
        </ul>
      </div>
      <div class="col-md-8">

      </div>
    </div>

  </div>
</section>

