<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>OFERTA</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;">
          <figure><img src="../../assets/oferta2.jpg" class="img-responsive" alt=""></figure>
          <h3><a style="cursor: pointer">Obudowy stacji</a></h3>
          <p>Betonowe obudowy stacji</p>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;">
          <figure><img src="../../assets/oferta2.jpg" class="img-responsive" alt=""></figure>
          <h3><a style="cursor: pointer">Transforamtory</a></h3>
          <p>Betonowe obudowy stacji</p>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px; cursor: pointer;">
          <figure><img src="../../assets/oferta2.jpg" class="img-responsive" alt=""></figure>
          <h3><a style="cursor: pointer">Przepusty</a></h3>
          <p>Betonowe obudowy stacji</p>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 300px;  cursor: pointer;">
          <figure><img src="../../assets/oferta2.jpg" class="img-responsive" alt=""></figure>
          <h3><a style="cursor: pointer">Pozostałe</a></h3>
          <p>Betonowe obudowy stacji</p>
        </div>
      </li>
    </ul>
  </div>
</section>
