<div class="container">
  <div class="row pt-3">
    <div class="col-md-3"><app-siedebar-offer-cz></app-siedebar-offer-cz></div>
    <div class="col-md-8">
      <h2 i18n>Rozvaděče (VN a NN)</h2>
      <br>
      <p class="text-justify" i18n>
        Vybízíme k využití naší nabídky na rozvaděče vysokého napětí a nízkého napětí.
        Nabízené rozvaděče pocházejí od renomovaných a uznávaných výrobců. Rozvaděče vysokého napětí nabízíme ve vzduchové izolaci a v SF6.
        <br><br>
        První typ představuje levnější řešení, které umožňuje libovolné konfigurace pólů.
        <br><br>
        Pro druhý typ čili v izolaci SF6 je charakteristická kompaktní stavba a nízká poruchovost.
        <br><br>
        K rozvaděčům vysokého napětí nabízíme rovněž kompletní kabelové vybavení, převodníky, stejně jako pozáruční servis.
        <br><br>
        V případě rozvaděčů nízkého napětí existuje možnost objednání rozvaděče zhotoveného na rámu nebo skříňového rozvaděče dle individuálních potřeb.
        <br><br>
        Rozvaděče jsou vybaveny dle potřeb objednávajícího přerušovačem nebo hlavním vypínačem a konkrétním počtem odtoků s možností rezervních míst.
      </p>
      <div class="row">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" (click)="open(2)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
