.navbar-inner {
  background:transparent;
}
.active {
  font-weight: bold;
  color: black;
}
a{
  font-size: 1.2em;
  font-weight: bold;
}
.innera{
  font-size: 1em;
  color: #212529;
}
.dropdown-menu{
  background-color: #f1f4fa;
}
.nav-item{
  color: blue;
}
.navbar-light .nav-link{
  color: #666;
}
#language{
  padding-left: 0;
}
.nav-spaceing{
  padding-right: 30px;
}



