<div class="container">
  <div class="row pt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Obudowy z obsługą wewnętrzną</h2>
      <br>
      <p class="text-justify">
        Obudowy stacji z obsługą wewnętrzną wykonane są z żelbetu w postaci monolitycznego odlewu budynku piwnicy oraz dachu.
        W przypadku budynków  z obsługą wewnętrzną istnieje możliwość ich łączenia w zespół budynków np. na potrzeby GPZ-ów.
        <br><br>
        Przeznaczone są do instalacji jednego, dwóch lub więcej transformatorów w zależności od indywidualnych potrzeb zamawiającego.
        <br><br>
        Zapewniają idealne warunki pracy dla elektromonterów oraz dla osób serwisujących stacje
        oraz szybkość i łatwość instalacji na miejscu przeznaczenia.
        Możliwe jest też wykonanie stacji  z trzema ścianami oddzielenia przeciw pożarowego co daję możliwość
        posadowienia stacji blisko innych budynków lub granicy działki.
        <br><br>
        W przypadku zainteresowania prosimy o kontakt z naszą firmą.
        <br>
        Poniżej pokazano kilka rozwiązań:
        <br>
      </p>
      <div class="row pt-3">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4 pl-5">
          <img [src]="albums[2].thumb" class="img-fluid mx-auto d-block" (click)="open(2)" style="cursor: pointer; max-width: 67%">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
