<div class="container">
  <div class="row pt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Przepusty i uszczelnienia</h2>
      <br>
      <p class="text-justify">
        Oferujemy Państwu możliwość zakupu za pośrednictwem naszej firmy pełnego asortymentu przepustów i uszczelnień niemieckiej firmy Hauff-Technik.
        W naszych wyrobach korzystamy z tego typu przepustów i zalecamy ich stosowanie.
        <br><br>
        Zastosowanie tych produktów zawsze daje łatwość montażu kabli rur itp. oraz  gwarancję wodo i gazo szczelności.
        <br><br>
        Do wyboru systemy uszczelnienia kabli, rur, przepusty do budynków oraz wiele innych.
        <br><br>
        Zapraszamy do zapoznania się z  katalogami na stronie producenta <a href="https://www.hauff-technik.de/pl">https://www.hauff-technik.de/pl</a>
      </p>
      <div class="row pt-5">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" (click)="open(2)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
