<div class="container">
  <div class="row pt-5">
    <div class="col-md-3"><app-siedebar-offer-cz></app-siedebar-offer-cz></div>
    <div class="col-md-8">
      <h2 i18n>Transformátorové stanice s vnitřní obsluhou </h2>
      <br>
      <p class="text-justify" i18n>
        Skelety stanic s vnitřní obsluhou jsou zhotoveny ze železobetonu v podobě monolitického odlitku budovy sklepu a střechy.
        V případě budov s vnitřní obsluhou existuje možnost jejich slučování do komplexu budov, např. pro potřeby hlavních napájecích bodů (GPZ).
        <br><br>
        Jsou určeny pro instalaci jednoho, dvou nebo více transformátorů v závislosti na individuálních potřebách objednávajícího.
        <br><br>
        Zaručují ideální pracovní podmínky pro elektromontérů a také pro osoby provádějící servis stanice a dále rychlost a snadnost instalace na místě určení.
        Je možné rovněž provedení stanice se třemi oddělovacími protipožárními stěnami, což umožňuje usazení stanice blízko jiných budov nebo blízko hranice pozemku.
        <br><br>
        V případě zájmu, prosím, kontaktujte naši firmu.
        <br>
        Níže představujeme několik řešení:
        <br>
      </p>
      <div class="row pt-3">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" (click)="open(2)" style="cursor: pointer;">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
