<section>
  <div class="container">
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-file-signature" style="padding-left: 10px"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Více než 10 let zkušeností </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>Dlouholeté působení na polském a zahraničním trhu je naší velkou výhodou.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-chalkboard-teacher"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Bezproblémový kontakt</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>Ke každému klientovi přistupujeme individuálně, snažíme se vyhovět všem požadavkům. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-truck-moving"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Transport zboží </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>Zajišťujeme dopravu zboží (včetně nadrozměrného) bezprostředně k zákazníkovi.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-truck-loading"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Technická podpora </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>Po dodání zajišťujeme plnou podporu při procesu instalace našich produktů.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
