<div class='container-fluid no-padding' id="slider">

    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random third slide" class="d-block img-fluid">
        <div class="carousel-caption" style="color: rgba(6,8,5,1); font-weight: bold;">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random third slide" class="d-block img-fluid">
        <div class="carousel-caption" style="color: rgba(6,8,5,1); font-weight: bold;">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" class="d-block img-fluid">
        <div class="carousel-caption" style="color: rgba(6,8,5,1); font-weight: bold;">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[3]" alt="Random third slide" class="d-block img-fluid">
        <div class="carousel-caption" style="color: rgba(6,8,5,1); font-weight: bold;">
          <div class="wrap" style="max-width: 50%; position: center">
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

</div>
