<div class="container">
  <div class="row pt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Rozdzielnice</h2>
      <br>
      <p class="text-justify">
        Zapraszamy do skorzystania z naszej oferty na rozdzielnice średniego
        napięcia oraz niskiego napięcia.
        <br>
        Oferowane rozdzielnice pochodzą od renomowanych i cenionych producentów.
        <br><br>
        Rozdzielnice średniego napięcia oferujemy w izolacji powietrznej oraz w
        SF6. Pierwszy rodzaj - rozwiązanie tańsze dające możliwość dowolnej
        konfiguracji pól.
        <br><br>
        Drugi rodzaj czyli w izolacji SF6 charakteryzuje się kompaktową budową
        oraz niską awaryjnością.
        <br><br>
        Do rozdzielnic średniego napięcia oferujemy również pełen osprzęt
        kablowy, przekładniki jak również serwis pogwarancyjny.
        <br><br>
        W przypadku rozdzielnic niskiego napięcia istnieje możliwość zamówienia
        rozdzielni wykonanej na ramie lub szafowej wg indywidualnych potrzeb.
        <br><br>
        Rozdzielnice wyposażane są według potrzeb zamawiającego w rozłącznik lub
        wyłącznik główny oraz konkretną liczbę odpływów z możliwością miejsc
        rezerwowych.
      </p>
      <div class="row">
        <div class="col-md-4">
          <img [src]="albums[0].thumb" class="img-fluid" (click)="open(0)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[1].thumb" class="img-fluid" (click)="open(1)" style="cursor: pointer">
        </div>
        <div class="col-md-4">
          <img [src]="albums[2].thumb" class="img-fluid" (click)="open(2)" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
</div>
