<div class="container">
  <div class="row pt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Obudowy z obsługą zewnętrzną</h2>
      <br>
      <p class="text-justify">
        Obudowy stacji z obsługą zewnętrzną wykonane są z żelbetu w postaci monolitycznego odlewu.
        Obudowa składa się z dwóch elementów.Przeznaczone są do instalacji jednego lub dwóch transformatorów w zależności od indywidualnych potrzeb zamawiającego.
        Posiadamy również rozwiązania dające możliwość instalacji rozdzielni średniego napięcia w izolacji powietrznej w tych budynkach.
        <br>
        <br>
        Ich kompaktowa budowa zapewnia szybkość i łatwość instalacji na miejscu przeznaczenia.
        Możliwe jest też wykonanie stacji nawet z trzema ścianami oddzielenia przeciw pożarowego co daję możliwość posadowienia stacji blisko innych budynków lub granicy działki.
        W przypadku zainteresowania prosimy o kontakt z naszą firmą
      </p>
    </div>
  </div>
</div>
