<section style="height: 75vh; background-color: #f1f4fa">
  <div class="container pb-5">
    <div class="row pb-5">
      <div class="col-lg-2 mt-2"></div>
      <div class="col-lg-8 mt-3">
        <p class="text-justify pt-5" style="TEXT-ALIGN: justify">

          <span style="FONT-SIZE: 1em;" i18n>
            Armes Company has been providing services in the electrical segment for over 10 years.
            <br><br>
            We offer delivery of concrete container transformer stations as well as fully-equipped stations. We also sell transmission and distribution systems of
            low-voltage and medium-voltage switchgears, oil-type and dry-type transformers (new or regenerated).
            We offer complete solutions in the field of sealings from Hauff-Technik GmbH & Co. KG which we also use in our containers.
            <br><br>
           The company also deals with execution of electrical projects and consultancy in the field of construction and selection of concrete container transformer stations.
            We provide short-term and long-term hire of transformer stations.
            <br><br>
            We operate on Polish and foreign markets which cover mainly the Czech Republic and Slovakia.
            We are in possession of all crucial certificates and approvals for the use of our containers.
          </span>

        </p>
      </div>
    </div>
  </div>
</section>
