div{
  /*background-color: rgba(0,0,0,0.85);*/
  /*background-color: rgba(11,52,173,0.92);*/
  background-image: linear-gradient(to top left, rgba(8,112,173,0.92), rgb(63,71,204));

  width: 100%;
  height: 5em;
}
