#contact .card:hover i,#contact .card:hover h4{
  color: rgba(17,58,167,0.93);
}
.mapouter{
  position:relative;
  text-align:right;
  width:1080px;
  min-width:30%;
  max-width:100%;
  height:450px;
  min-height:10%;
  max-height:100%;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:1080px;
  min-width:30%;
  max-width:100%;
  height:450px;
  min-height:10%;
  max-height:100%;
}
.card{
  background-color: #f1f4fa;

}

