<section>
  <div class="container">
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-file-signature" style="padding-left: 10px"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Over 10 years of experience </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>A big advantage of our company is a long-term activity both on domestic and international market.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-chalkboard-teacher"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Right contact </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>Each client is treated individually, we do our best to meet all requirements.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-truck-moving"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Carriage of goods </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>We provide the carriage of goods directly to a client, including bulky goods.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-truck-loading"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" i18n>Technical support </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6" i18n>After delivery we provide full support in the process of installation of our products.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
